<%- include('../partials/header') %>

    <main class="main" id="homeMain">
        <div class="container">
            <h2>Welcome to my Home Page</h2>
        </div>
    </main>

    <%- include('../partials/footer') %>